.container {
    max-width: 100%;
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 13%;
    position: fixed;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: rgb(15, 28, 82);
    color: #fff;
    transition: all 0.3s;
}

#sidebar hr {
    border: 3px solid white;
    width: 90%;
}

#content {
    width: 87%;
    margin-left: 13%;
    padding: 1rem 1rem 1rem 1rem;
}

.jumbotron {
    text-align: center;
}

.display-3 {
    font-weight: 400;
}

.my-4 {
    border: 2px solid black;
}

.dayCard {
    margin-bottom: 1.5rem;
}

.sidebar-header {
    padding: 1rem 1rem 0 1rem;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    background-color: rgb(21, 37, 100);;
    width: 100%;
}

.form-control {
    margin-bottom: 1rem;
}

.form-group {
    width: 50%;
}

.list-group {
    border-radius: 0;
}

.list-group-item {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    font-weight: 600;
    font-size: 1.25rem;
    background-color: rgb(15, 28, 82);
    color: white;
}

.buttons {
    background-color: rgb(15, 28, 82);
    color: white;
}

#add-meal-to-today {
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

.footer {
    margin-left: 24%;
}