/*For index.html mostly*/

.jumbotron {
    background-image: url("../assets/lcsfinalslongshot.jpg");
    background-size: cover;
    margin-bottom: 0;
    color: white;
    border-radius: 0;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    padding: 8rem 0.5rem 6rem 0.5rem;
    text-shadow: 2px 2px 2px black;
}

.card-group {
    padding-top: 2rem;
    padding-bottom: 4rem;
}

#mainpage {
    background-color: #7a7f8f;
}